<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
</head>
<body>
<a href="/">назад на главную</a>

<form method="post" action="users/create">
    <label for="firstName">Имя</label>
    <input name="firstName" type="text"  id="firstName" required>
    <br>

    <label for="lastName">Фамилия</label>
    <input name="lastName" type="text"  id="lastName" required>
    <br>

    <label for="email">email </label>
    <input name="email" type="email"  id="email" required>
    <br>
    <input type="submit" value="Добавить нового сотрудника">
</form>
<hr>
<h1>Список сотрудников:</h1>
<div>

    <th:block th:each="user, position : ${listUsers}">
        <h2 th:text="${position.index+1} + '.'"></h2>
        <p>
            <strong>id сотрудника:</strong> <span th:text="${user.getId()}"></span>
        </p>

        <p>
            <strong>Имя:</strong> <span th:text="${user.getFirstName()}"></span>
        </p>

        <p>
            <strong>Фамилия:</strong> <span th:text="${user.getLastName()}"></span>
        </p>

        <p>
            <strong>Email:</strong> <span th:text="${user.getEmail()}"></span>
        </p>

        <br>

        <form method="post" action="users/update">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <label>
                <input name="firstName" type="text" placeholder="Новое имя" required>
            </label>
            <br>

            <label>
                <input name="lastName" type="text" placeholder="Новая фамилия" required>
            </label>
            <br>

            <label>
                <input name="email" type="email" placeholder="Новый email" required>
            </label>
            <br>
            <input type="submit" value="Редактировать данные сотрудника">
        </form>

<!--        <form method="post" action="users/update">-->
<!--            <input type="hidden" name="id" th:value="${user.getId()}">-->
<!--            <label for="new_name">Имя</label>-->
<!--            <input name="new_name" type="text"  id="new_name" required>-->
<!--            <br>-->

<!--            <label for="new_lastName">Фамилия</label>-->
<!--            <input name="new_lastName" type="text"  id="new_lastName" required>-->
<!--            <br>-->

<!--            <label for="new_email">email </label>-->
<!--            <input name="new_email" type="email"  id="new_email" required>-->
<!--            <br>-->
<!--            <input type="submit" value="Редактировать данные сотрудника">-->
<!--        </form>-->

        <br>
        <form method="post" action="users/delete">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <input type="submit" value="Удалить сотрудника">
        </form>
        <hr/>

    </th:block>

</div>
</body>
</html>

