<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый сотрудник</title>
</head>
<body>
<a href="/">назад на главную</a>
<br>
<a href="/users">к списку сотрудников</a>

<div>
    <h1>Сотрудник был успешно добавлен!</h1>
    <!--    <p th:text="'ID номер сотрудника: ' + ${newUser.getId()}"></p>-->
    <!--    <p th:text="'Имя сотрудника: ' + ${newUser.getFirstName()}"></p>-->
    <!--    <p th:text="'Фамилия сотрудника: ' + ${newUser.getLastName()}"></p>-->
    <!--    <p th:text="'Email сотрудника: ' + ${newUser.getEmail()}"></p>-->
    <p>
        <strong>id сотрудника:</strong> <span th:text="${newUser.getId()}"></span>
    </p>

    <p>
        <strong>Имя:</strong> <span th:text="${newUser.getFirstName()}"></span>
    </p>

    <p>
        <strong>Фамилия:</strong> <span th:text="${newUser.getLastName()}"></span>
    </p>

    <p>
        <strong>Email:</strong> <span th:text="${newUser.getEmail()}"></span>
    </p>
</div>
</body>
</html>